:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.c-LandingPage {}

.c-LandingPage__Content {
  display: flex;
  justify-content: space-evenly;
}

.c-LandingPage__Scene {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  border: 1px solid rgba(255, 255, 25);
  z-index: -1
}

.c-LandingPage__Listitem {
  border: 1px solid red;
}